@model WebApplication1.Models.User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> To Seamless Flight Booking</p>
</div>
<div class="text-center">
    <p>Sign up </p>
    <a asp-action="Register">Register here</a>
</div>
<div class="text-center">
    <p>Already have a account , Login</p>
    <a asp-action="Login">Login</a>
</div>

